html {
    background-color: #222;
    color: #000;
    font-family: 'TradeGothicLTPro';
}
a {
    color: #fff;
}
#musicircus-video-page {
    background-color: #eee;
    color: #000;
    font-family: 'TradeGothicLTPro';
}
.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
.youtube {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title {
    font-family: 'TradeGothicLTPro-BdCn20';
    font-size: 1.35em;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url("//hello.myfonts.net/count/2b9f84");
  
@font-face {font-family: 'TradeGothicLTPro';src: url('fonts/2B9F84_0_0.eot');src: url('fonts/2B9F84_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2B9F84_0_0.woff') format('woff'),url('fonts/2B9F84_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TradeGothicLTPro-BdCn20';src: url('fonts/2B9F84_1_0.eot');src: url('fonts/2B9F84_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2B9F84_1_0.woff') format('woff'),url('fonts/2B9F84_1_0.ttf') format('truetype');}
.youtube-title {
}
.scroll-surface-blur,
.handle-surface-blur {
    -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
}
.scroll-surface,
.handle-surface {
    
}
.spectrum-blur {
    
}
.dark {
    color: #efefef;
}
.light {
    color: #333333;
}
.avco-credit {
    font-size: 0.8em;
    text-align: right;
    font-family: arial, verdana, sans-serif;
}
#musicircus-title {
    font-family: 'TradeGothicLTPro-BdCn20';
    font-size: 1.35em;
}
#musicircus-description {
    width: 100%;
}
#musicircus-youtube{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 0.6em;   
}
#musicircus-youtube iframe,
#musicircus-youtube object,
#musicircus-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#accessibility {
    font-family: 'TradeGothicLTPro-BdCn20';
    font-size: 0.8em;
    color: #222;
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    
    margin: auto;
}
#loading-text {
    font-family: 'TradeGothicLTPro-BdCn20';
    font-size: 1.7em;
    color: #ffffff;
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    
    margin: auto;
    opacity: 0.7;
    filter: alpha(opacity=70); 
}
#accessibility a {
    color: #222;
}
a.download-chrome {
    color: #333;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
   .infobox-container {
        border-radius: 0 !important;
   }
   .infobox-surface {
   }
}
